This file tests visualization and data manipulation for use in a dashboard

In [1]:
# Import dependencies
import os
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# import data - sessions of congress
sessions_df = pd.read_csv("..\\data\\processed\\congress_sessions.csv")
sessions_df.head()

   Congress  Start_Date    End_Date
0         1  1789-03-04  1791-03-03
1         2  1791-03-04  1793-03-03
2         3  1793-03-04  1795-03-03
3         4  1795-03-04  1797-03-03
4         5  1797-03-04  1799-03-03

In [3]:
# convert start_date and end_date to datetime
sessions_df['Start_Date'] = pd.to_datetime(sessions_df['Start_Date'], errors='coerce').dt.date
sessions_df['End_Date'] = pd.to_datetime(sessions_df['End_Date'], errors='coerce').dt.date
sessions_df.head()

   Congress  Start_Date    End_Date
0         1  1789-03-04  1791-03-03
1         2  1791-03-04  1793-03-03
2         3  1793-03-04  1795-03-03
3         4  1795-03-04  1797-03-03
4         5  1797-03-04  1799-03-03

In [4]:
# import data - bioguide profiles
bioguide_df = pd.read_csv("..\\data\\processed\\bioguide_table.csv")
bioguide_df.head()

  bioguide_id first_name last_name  birth_date  death_date
0     A000001       Fred   Aandahl  1897-04-09  1966-04-07
1     A000002    Watkins    Abbitt  1908-05-21  1998-07-13
2     A000003       Joel     Abbot  1776-03-17  1826-11-19
3     A000004       Amos    Abbott  1786-09-10  1868-11-02
4     A000005     Joseph    Abbott  1840-01-15  1908-02-11

In [5]:
# convert birth_date and death_dateto datetime
bioguide_df['birth_date'] = pd.to_datetime(bioguide_df['birth_date'], errors='coerce').dt.date
bioguide_df['death_date'] = pd.to_datetime(bioguide_df['death_date'], errors='coerce').dt.date
bioguide_df.head()

  bioguide_id first_name last_name  birth_date  death_date
0     A000001       Fred   Aandahl  1897-04-09  1966-04-07
1     A000002    Watkins    Abbitt  1908-05-21  1998-07-13
2     A000003       Joel     Abbot  1776-03-17  1826-11-19
3     A000004       Amos    Abbott  1786-09-10  1868-11-02
4     A000005     Joseph    Abbott  1840-01-15  1908-02-11

In [6]:
# import data - congressional postings
postings_df = pd.read_csv("..\\data\\processed\\positions_clean_v1.csv")
postings_df.head()

,bioguide_id,chamber,congress_number,congress_start_date,congress_end_date,region_type,region_code,party_name,job_start_date,job_end_date
0,M001074,Representative,90,1967-01-03,25206,State,NY,Democrat,1967-01-03,1967-12-31
1,K000114,Senator,90,1967-01-03,25206,State,NY,Democrat,1967-01-03,1968-06-06
2,G000282,Representative,90,1967-01-03,25206,State,NY,Republican,1967-01-03,1968-09-09
3,B000201,Senator,90,1967-01-03,25206,State,AK,Democrat,1967-01-03,1968-12-11
4,M001022,Senator,90,1967-01-03,25206,State,KY,Republican,1967-01-03,1968-12-16

In [7]:
# remove unnecessary columns
postings_df = postings_df.drop(columns=['congress_start_date', 'congress_end_date'])

# display first few rows
postings_df.head()

,bioguide_id,chamber,congress_number,region_type,region_code,party_name,job_start_date,job_end_date
0,M001074,Representative,90,State,NY,Democrat,1967-01-03,1967-12-31
1,K000114,Senator,90,State,NY,Democrat,1967-01-03,1968-06-06
2,G000282,Representative,90,State,NY,Republican,1967-01-03,1968-09-09
3,B000201,Senator,90,State,AK,Democrat,1967-01-03,1968-12-11
4,M001022,Senator,90,State,KY,Republican,1967-01-03,1968-12-16

In [8]:
# convert date columns to datetime
postings_df['job_start_date'] = pd.to_datetime(postings_df['job_start_date'], errors='coerce').dt.date
postings_df['job_end_date'] = pd.to_datetime(postings_df['job_end_date'], errors='coerce').dt.date
# display first few rows
postings_df.head()

,bioguide_id,chamber,congress_number,region_type,region_code,party_name,job_start_date,job_end_date
0,M001074,Representative,90,State,NY,Democrat,1967-01-03,1967-12-31
1,K000114,Senator,90,State,NY,Democrat,1967-01-03,1968-06-06
2,G000282,Representative,90,State,NY,Republican,1967-01-03,1968-09-09
3,B000201,Senator,90,State,AK,Democrat,1967-01-03,1968-12-11
4,M001022,Senator,90,State,KY,Republican,1967-01-03,1968-12-16

In [10]:
# from bioguide_df find the birthday for a specific congressperson
target_person = 'G000282'  # Example bioguide ID

birthday = bioguide_df.loc[bioguide_df['bioguide_id'] == target_person, 'birth_date']
print(f"Birthday of person with bioguide ID {target_person}: {birthday.values[0]}")

Birthday of person with bioguide ID G000282: NaT